@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,h2,h3 {
        @apply font-bold mb-3
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    @apply h-screen 
}

.titles {
    @apply font-bold text-4xl font-mono max-w-[960px] mx-auto text-center px-5
}